# Extracting data from database

In [73]:
import sqlite3
connection = sqlite3.connect("classroomDB")
connection.close()

In [74]:
connection = sqlite3.connect("classroomDB")
cursor = connection.cursor()

drop_table ="DROP Table classroom"
cursor.execute(drop_table)
connection.commit()

create_table = """create table classroom (student_id INTEGER PRIMARY KEY, name varchar(20), 
gender CHAR(1),
physics_marks INTEGER,
chemistry_marks INTEGER,
mathematics_marks INTEGER
);"""

cursor.execute(create_table)
connection.commit()

In [75]:
connection.close()

In [76]:
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                 (2, "Sudeep", "M", 70, 84, 92),
                  (3, "Renu", "F", 70, 84, 92),
                 (4, "Manasvi", "F", 70, 84, 92)]

In [77]:
connection = sqlite3.connect("classroomDB")
cursor = connection.cursor()

In [78]:
for student in classroom_data:
    insert_statement = """insert into classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks) 
    VALUES({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])
    print(insert_statement)
    cursor.execute(insert_statement)

insert into classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES(1, "Raj", "M", 70, 84, 92);
insert into classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES(2, "Sudeep", "M", 70, 84, 92);
insert into classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES(3, "Renu", "F", 70, 84, 92);
insert into classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES(4, "Manasvi", "F", 70, 84, 92);

In [79]:
connection.commit()
connection.close()

In [80]:
connection = sqlite3.connect("classroomDB")
cursor = connection.cursor()

In [81]:
query = "Select * from classroom;"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Sudeep', 'M', 70, 84, 92)
(3, 'Renu', 'F', 70, 84, 92)
(4, 'Manasvi', 'F', 70, 84, 92)

In [82]:
connection.commit()
connection.close()