In [1]:
from collections import deque

In [2]:
queue = deque(['Eric', "John", "Michael"])

In [3]:
queue.append("Terry")
queue.popleft()

'Eric'

In [4]:
queue

deque(['John', 'Michael', 'Terry'])

In [5]:
queue.pop()

'Terry'

In [8]:
queue
squares = list(map(lambda x: x ** 2, range(10)))

In [9]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
matrix = [
      [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [22]:
trn = [[row[i] for row in matrix] for i in range(4)]

In [23]:
trn

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [24]:
trn[0]

[1, 5, 9]

In [25]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [26]:
tel = {'jack': 4098, 'sape': 4139}

In [27]:
list(tel)

['jack', 'sape']

In [29]:
sorted(tel)

['jack', 'sape']

In [30]:
l = ('sape', 4139), ('guido', 4127), ('jack', 4098)
dict(l)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [31]:
{x: x*2 for x in range(2,10)}

{2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [32]:
list({x: x*2 for x in range(2,10)})

[2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [35]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [36]:
for i, v in enumerate(l):
    print(i, v)

0 ('sape', 4139)
1 ('guido', 4127)
2 ('jack', 4098)

In [37]:
l

(('sape', 4139), ('guido', 4127), ('jack', 4098))

In [38]:
for i, v in enumerate(knights):
    print(i,v)

0 gallahad
1 robin

In [42]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
        print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [47]:
zipped = zip(questions, answers)
dir(zipped)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [5]:
wordsFreqDict = {
    "hello": 56,
    "at" : 23 ,
    "test" : 43,
    "this" : 43
    }

In [8]:
for key in wordsFreqDict.keys():
    print(key, wordsFreqDict[key])

hello 56
at 23
test 43
this 43

In [11]:
for key in sorted(wordsFreqDict.keys()):
    print(key, wordsFreqDict[key])
wordsFreqDict

at 23
hello 56
test 43
this 43

{'hello': 56, 'at': 23, 'test': 43, 'this': 43}

In [15]:
for val in sorted(wordsFreqDict.items()):
    print(val[0], val[1])

at 23
hello 56
test 43
this 43

In [4]:
a = [1,2,3,2,1,5,6,5,5,5]
seen = set()
uniq = []
for x in a:
    if x not in seen:
        seen.add(x)
        uniq.append(x)
    
print(seen, uniq)

TypeError: 'set' object does not support indexing

In [6]:
set([x for x in a if a.count(x) > 1])

{1, 2, 5}

In [7]:
import collections
isinstance({}, collections.Hashable)

False

In [13]:
isinstance(list,collections.Hashable)

True

In [14]:
hash(100)

100

In [68]:
chars = "abcdefghijklmnopqrstuvwxyz"
check_string = "i am checking this string to see how many times each character appears"
for char in chars:
    count = check_string.count(char)
    if count > 1:
        print(char, count)

a 7
c 5
e 7
g 2
h 5
i 5
m 3
n 3
o 2
p 2
r 4
s 5
t 5

In [22]:
count = {}
for s in check_string:
    if count[s] :
        count[s] =+ 1
    else:
        count[s] = 1
        
for key in count:
    if count[key] > 1:
        print(key, count[key])

KeyError: 'i'

In [23]:
d = {"name": "sudeep", "age": 35}

In [24]:
d

{'name': 'sudeep', 'age': 35}

In [27]:
dcopy = d.copy()
dcopy

{'name': 'sudeep', 'age': 35}

In [28]:
id(dcopy)

107549440

In [29]:
id(d)

117321376

In [30]:
id(d['name'])

118755200

In [31]:
id(dcopy['name'])

118755200

In [32]:
dcopy['name'] = "Manasvi"

In [33]:
dcopy

{'name': 'Manasvi', 'age': 35}

In [34]:
d

{'name': 'sudeep', 'age': 35}

In [35]:
d.values()

dict_values(['sudeep', 35])

In [36]:
d.keys()

dict_keys(['name', 'age'])

In [37]:
d.setdefault('country', "Bharat")

'Bharat'

In [38]:
d

{'name': 'sudeep', 'age': 35, 'country': 'Bharat'}

In [39]:
d.get('city', "City does not exists")

'City does not exists'

In [40]:
d1 = {'city': "Mumbai"}

In [41]:
d1

{'city': 'Mumbai'}

In [42]:
d.update(d1)

In [43]:
d

{'name': 'sudeep', 'age': 35, 'country': 'Bharat', 'city': 'Mumbai'}

In [44]:
len(d)

4

In [45]:
iter(d)

In [46]:
it = iter(d)

In [51]:
next(it)

StopIteration:

In [52]:
pi = d.popitem()

In [53]:
pi

('city', 'Mumbai')

In [54]:
d

{'name': 'sudeep', 'age': 35, 'country': 'Bharat'}

In [57]:
import locale
loc = locale.setlocale(locale.LC_ALL) # get current locale

In [59]:
 loc

'C'

In [60]:
loc.localeconv ()

AttributeError: 'str' object has no attribute 'localeconv'

In [61]:
locale.localeconv ()

{'int_curr_symbol': '',
 'currency_symbol': '',
 'mon_decimal_point': '',
 'mon_thousands_sep': '',
 'mon_grouping': [],
 'positive_sign': '',
 'negative_sign': '',
 'int_frac_digits': 127,
 'frac_digits': 127,
 'p_cs_precedes': 127,
 'p_sep_by_space': 127,
 'n_cs_precedes': 127,
 'n_sep_by_space': 127,
 'p_sign_posn': 127,
 'n_sign_posn': 127,
 'decimal_point': '.',
 'thousands_sep': '',
 'grouping': []}

In [65]:
'{name} was born in {country}'.format_map(Default(name='Guido'))

NameError: name 'Default' is not defined

In [70]:
d

{'name': 'sudeep', 'age': 35, 'country': 'Bharat'}

In [72]:
str.join(d.keys())

TypeError: descriptor 'join' requires a 'str' object but received a 'dict_keys'

In [74]:
s = 'sudeep patel from thane'
str.partition(s, ' ')

('sudeep', ' ', 'patel from thane')

In [78]:
s = '''Hello
I am sudeep
I am from Thane'''
s
str.splitlines(s, keepends=True)

['Hello\n', 'I am sudeep\n', 'I am from Thane']

In [79]:
'2'.zfill(5)

'00002'

In [86]:
'{: <30}, {} , {} '.format(*'abc')

'a                             , b , c '

In [90]:
'{:*^30}, {} , {} '.format(*'abc')

'**************a***************, b , c '

In [91]:
'{: <30}, {} , {} '.format(*'abc')

'a                             , b , c '

In [92]:
'{:,}'.format(1234567890)

'1,234,567,890'

In [93]:
s

'Hello\nI am sudeep\nI am from Thane'

In [97]:
s.replace('Isfs', "You")

'Hello\nI am sudeep\nI am from Thane'

In [100]:
Point = collections.namedtuple('Point', ['x', 'y'])

In [114]:
from  collections import namedtuple, OrderedDict

In [101]:
Point

__main__.Point

In [102]:
p = Point(11, y=22)

In [103]:
p

Point(x=11, y=22)

In [106]:
EmployeeRecord = namedtuple('EmployeeRecord', 'name, age, title, department, paygrade')

In [107]:
import csv
for emp in map(EmployeeRecord._make, csv.reader(open("employees.csv", "rb"))):
    print(emp.name, emp.title)

FileNotFoundError: [Errno 2] No such file or directory: 'employees.csv'

In [108]:
p._fields

('x', 'y')

In [112]:
p.x

11

In [115]:
d = OrderedDict.fromkeys('abcde')

In [116]:
d

OrderedDict([('a', None), ('b', None), ('c', None), ('d', None), ('e', None)])

In [117]:
if None

SyntaxError: invalid syntax (<ipython-input-117-d017f22200e4>, line 1)

In [120]:
if d is None:
    print("None")

In [121]:
class Event(dict):
    def __getitem__(self, key):
        value = super().__getitem__(key)
        return f"[{self.__class__.__name__}]: {value}"

In [126]:
event = Event(user="user", event_type="login", date="2017-07-11",Helo="Hello")

In [127]:
print(event['user'])  # [Event]: user

[Event]: user

In [129]:
context = {"system": "PROD1", "status": "up"}
event = {'date': '2017-07-11', 'event_type': 'login', 'user': 'user'}
enriched_event = {**event, **context}

In [130]:
enriched_event

{'date': '2017-07-11',
 'event_type': 'login',
 'user': 'user',
 'system': 'PROD1',
 'status': 'up'}

In [131]:
enriched_event = collections.ChainMap(event, context)

In [132]:
enriched_event

ChainMap({'date': '2017-07-11', 'event_type': 'login', 'user': 'user'}, {'system': 'PROD1', 'status': 'up'})

In [133]:
enriched_event['system']  #  PROD1
enriched_event['system'] = "PROD2" #  PROD1

In [134]:
enriched_event

ChainMap({'date': '2017-07-11', 'event_type': 'login', 'user': 'user', 'system': 'PROD2'}, {'system': 'PROD1', 'status': 'up'})

In [143]:
import requests
import urllib
from functools import lru_cache

@lru_cache(maxsize=32)
def get_pep(num):
    'Retrieve text of a Python Enhancement Proposal'
    resource = 'http://www.python.org/dev/peps/pep-%04d/' % num
    try:
        with urllib.request.urlopen(resource) as s:
            return s.read()
    except urllib.error.HTTPError:
        return 'Not Found'

In [150]:
for n in 8, 290, 308, 320, 8, 218, 320, 279, 289, 320, 9991:
    pep = get_pep(n)
    print(n, len(pep))

8 105879
290 59822
308 57028
320 49607
8 105879
218 46851
320 49607
279 48609
289 50938
320 49607
9991 9

In [151]:
get_pep.cache_info()

CacheInfo(hits=36, misses=8, maxsize=32, currsize=8)

In [153]:
s = "Geeksforgeeks"
result = ""
for c in s:
    result = c + result

In [154]:
print(result)

skeegrofskeeG

In [162]:
import random  
for i in range(5): 
  
    # Any number can be used in place of '0'. 
#     random.seed(100) 
  
    # Generated random number will be between 1 to 1000. 
    print(random.randint(1, 1000))
    print(random.randint(1, 1000))

956
664
970
210
344
236
317
860
787
209